input {
  keyboard {
    xkb {
      layout "eu"
      options "compose:caps"
    }
    repeat-delay 400
    repeat-rate 40
  }

  touchpad {
    tap
    dwt
    dwtp
    natural-scroll
    accel-speed 0.5
    accel-profile "adaptive"
    scroll-method "two-finger"
  }

  mouse {
    accel-profile "flat"
  }

  trackpoint {
    accel-speed 0.8
    accel-profile "flat"
  }

  disable-power-key-handling

  warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="33%"

  workspace-auto-back-and-forth
}

layout {
  background-color "transparent"

  gaps 8

  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
    width 2
    active-color "#7fc8ff"
    inactive-color "#505050"
  }

  border {
    width 1
    inactive-color "#505050"
    active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view" in="oklch longer hue"
    urgent-gradient from="#800" to="#a33" angle=45
  }

  shadow {
    on
    draw-behind-window false
    softness 20
    spread 5
    offset x=0 y=0
    color "#000c"
  }

  struts {
    left -4
    right -4
    top -4
    bottom -4
  }
}

environment {
  DISPLAY ":0"
  QT_QPA_PLATFORM "wayland"
  _JAVA_AWT_WM_NONREPARENTING "1"
  EGL_PLATFORM "wayland"
  NIXOS_OZONE_WL "1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
  xcursor-theme "phinger-cursors-dark"
  xcursor-size 24
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshot %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
  skip-at-startup
}

animations {
  slowdown 0.9

  workspace-switch {
    spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
  }
  horizontal-view-movement {
    spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
  }
  window-open {
    duration-ms 250
    curve "ease-out-quad"
  }
  window-close {
    duration-ms 250
    curve "ease-out-quad"
  }
  window-movement {
    spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
  }
  window-resize {
    spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
  }
  config-notification-open-close {
    spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
  }
  screenshot-ui-open {
    duration-ms 200
    curve "ease-out-quad"
  }
}

window-rule {
  match app-id=r#"librewolf$"#
  match app-id=r#"firefox$"#
  match app-id=r#"thunderbird$"#
  match app-id=r#"chromium$"#
  draw-border-with-background false
  default-column-width {}
}

window-rule {
  match app-id=r#"librewolf$"# title=r#"^LibreWolf - Choose User Profile$"#
  match app-id=r#"librewolf$"# title=r#"^LibreWolf - Sharing Indicator$"#
  match app-id=r#"librewolf$"# title=r#"^Picture-in-Picture$"#
  match app-id=r#"librewolf$"# title=r#"^Extension:"#
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"thunderbird$"# title=r#".*Reminder.*"#
  open-floating true
}

window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  match app-id=r#"thunderbird$"#
  block-out-from "screencast"
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

layer-rule {
  match namespace="^waybar$"
  shadow {
    on
    softness 40
    spread 5
    offset x=0 y=0
    draw-behind-window true
    color "#00000064"
  }
}

layer-rule {
  match namespace="^notifications$"
  block-out-from "screencast"
  opacity 0.8
  shadow {
    on
  }
}

layer-rule {
  match namespace="^launcher$"
  opacity 0.9
  shadow {
    on
  }
}

window-rule {
  geometry-corner-radius 4
  clip-to-geometry true
}

window-rule {
  match is-window-cast-target=true

  focus-ring {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }

  border {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }

  shadow {
    color "#7d0d2d70"
  }

  tab-indicator {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+T { spawn "ghostty"; }
  Mod+Return { spawn "ghostty"; }
  Mod+D { spawn "fuzzel"; }
  Mod+Shift+D { spawn "emoji-picker"; }
  Mod+P { spawn "tessen"; }
  Mod+Alt+L { spawn "loginctl" "lock-session"; }
  Mod+Shift+A { spawn "fnottctl" "actions"; }
  Mod+Shift+S { spawn "fnottctl" "dismiss"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume=raise"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume=lower"; }
  XF86AudioMute allow-when-locked=true { spawn "swayosd-client" "--output-volume=mute-toggle"; }
  Mod+XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--input-volume=raise"; }
  Mod+XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--input-volume=lower"; }
  Mod+XF86AudioMute allow-when-locked=true { spawn "swayosd-client" "--input-volume=mute-toggle"; }
  XF86AudioMicMute allow-when-locked=true { spawn "swayosd-client" "--input-volume=mute-toggle"; }
  XF86MonBrightnessDown { spawn "swayosd-client" "--brightness=lower"; }
  XF86MonBrightnessUp { spawn "swayosd-client" "--brightness=raise"; }

  Mod+Q { close-window; }
  Mod+Shift+Q { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-window-down; }
  Mod+Shift+K     { move-window-up; }
  Mod+Shift+L     { move-column-right; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }

  Mod+Ctrl+Left  { focus-monitor-left; }
  Mod+Ctrl+Down  { focus-monitor-down; }
  Mod+Ctrl+Up    { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }
  Mod+Ctrl+H     { focus-monitor-left; }
  Mod+Ctrl+J     { focus-monitor-down; }
  Mod+Ctrl+K     { focus-monitor-up; }
  Mod+Ctrl+L     { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  Mod+Shift+Alt+Left  { move-workspace-to-monitor-left; }
  Mod+Shift+Alt+Right { move-workspace-to-monitor-right; }
  Mod+Shift+Alt+Up    { move-workspace-to-monitor-up; }
  Mod+Shift+Alt+Down  { move-workspace-to-monitor-down; }

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
  Mod+Ctrl+U         { move-column-to-workspace-down; }
  Mod+Ctrl+I         { move-column-to-workspace-up; }

  Mod+Shift+Page_Down { move-workspace-down; }
  Mod+Shift+Page_Up   { move-workspace-up; }
  Mod+Shift+U         { move-workspace-down; }
  Mod+Shift+I         { move-workspace-up; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+Tab { toggle-overview; }
  Mod+Multi_Key { focus-workspace-previous; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }

  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }

  Mod+Ctrl+C { set-dynamic-cast-window; }
  Mod+Alt+C { set-dynamic-cast-monitor; }
  Mod+Shift+c { clear-dynamic-cast-target; }

  Mod+Minus { set-column-width "-5%"; }
  Mod+Equal { set-column-width "+5%"; }

  Mod+Shift+Minus { set-window-height "-5%"; }
  Mod+Shift+Equal { set-window-height "+5%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  Mod+Ctrl+Home { screenshot; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+E { spawn "wlogout"; }
  Ctrl+Alt+Delete { quit; }

  Mod+Shift+P { power-off-monitors; }
}

gestures {
    hot-corners {
        off
    }
}
