name: Flake Checks
on:
  pull_request:
  push:
    branches: [main]

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@latest
      - name: Setup Cachix
        uses: cachix/cachix-action@v14
        with:
          name: fpletz-flake
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Run flake checks
        run: nix develop -c nix-fast-build --no-nom --no-download
